
<div fxLayout="row wrap">
  <mat-sidenav-container fxFlex [class.m2app-dark]="isDarkTheme">


    <mat-sidenav #sidenav mode="side" class="app-sidenav mat-elevation-z15" style="border-right-style: none;">
        <table>
            <tr>
                <div *ngIf="currentPath == '/'"><td><span class="smallTextBottom"><a [routerLink]="['/1']" target="_top" style="color: blue"><i class="material-icons md-18 iconBottom">description</i>My Resume</a></span></td></div>
                <div *ngIf="currentPath != '/'"><td><span class="smallTextBottom"><a [routerLink]="['/']" target="_top" style="color: blue"><i class="material-icons md-18 iconBottom">description</i>My Resume</a></span></td></div>
            </tr>
            <tr>
                <div *ngIf="currentPath == '/personalInterests'"><td><span class="smallTextBottom"><a [routerLink]="['/2']" target="_top" style="color: blue"><i class="material-icons md-18 iconBottom">directions_bike</i>Personal Interests</a></span></td></div>
                <div *ngIf="currentPath != '/personalInterests'"><td><span class="smallTextBottom"><a [routerLink]="['/personalInterests']" target="_top" style="color: blue"><i class="material-icons md-18 iconBottom">directions_bike</i>Personal Interests</a></span></td></div>
            </tr>
        </table>
    </mat-sidenav>


    <mat-toolbar color="primary" style="height: 4em;">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>

        <img class="mdCardImg md-card-sm-image transparentProfilePic">

        <span class="textBottom xxLargerFont">&nbsp;Faith DeMoss</span>

        <span class="app-toolbar-filler"></span>
        <span class="smallTextBottom"><i class="material-icons md-18 iconBottom">home</i>&nbsp;1003 Gary Ct. Wheaton, IL, 60187&nbsp;<a href="tel:973-294-0176" style="color: white"><i class="material-icons md-18 iconBottom">phone_iphone</i>973-294-0176</a>
            &nbsp;<a href="mailto:fdemoss26@gmail.com?Subject=Resume" target="_top" style="color: white"><i class="material-icons md-18 iconBottom">email</i><span style="font-size: xx-small">fdemoss26@gmail.com</span></a></span>
        <!--button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button-->
    </mat-toolbar>

    <div class="app-content">
        <mat-card class="shadowCard">
            <h1 class="h1Blue">Education</h1>
            <mat-card class="shadowCard">
                <table>
                    <tr>
                        <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">9/2014 - 5/2018</span></td>
                        <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">school</i>&nbsp;<span class="bigPositionHeader">Wheaton College</span></td>
                        <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">Wheaton, IL</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="width: 800px;"><i class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>School of Communication</i></td>
                        <td style="width: 800px;"><i class="h1Italics"><i class="material-icons md-18 iconPositionHeader">assignment_ind</i> Major: Interpersonal Communication</i></td>
                    </tr>
                </table>
                <ul>
                    <li class="bullet11">
                      <b>GPA: 3.0/4.0</b>
                    </li>
                    <li class="bullet11">
                      <b>Related Coursework:</b> Customer Relationship Management, Human Communication Research, Negotiating & Bargaining, Public Speaking, Communication Theory, Rhetorical Theory
                    </li>
                </ul>
            </mat-card>
        </mat-card>

        <mat-card class="shadowCard">
            <h1 class="h1Blue">Professional Experience</h1>

            <mat-card class="shadowCard">
              <table>
                <tr>
                  <td style="width:300px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">8/2016 - 12/2018</span></td>
                  <td style="width:800px;"><i class="material-icons md-18 iconNearBottom">location_city</i>&nbsp;<span class="bigPositionHeader">Ivy Restaurant</span></td>
                  <td style="width:600px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">Wheaton, IL</span></td>
                </tr>
              </table>
              <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>Server</h2>
              <ul>
                <li class="bullet11">
                  Built rapport quickly with upscale customer base in both evening dining and large banquet settings of 50 + guests.
                </li>
                <li class="bullet11">
                  Successfully worked peak weekend evening shifts and banquets for the restaurant, since starting, through optimizing customer experience, drawing guests to the restaurant’s finest features, and hosting an atmosphere of delight for each table.
                </li>
              </ul>
            </mat-card>

            <mat-card class="shadowCard">
                <table>
                    <tr>
                        <td style="width:300px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">10/2016 - 5/2018</span></td>
                        <td style="width:800px;"><i class="material-icons md-18 iconNearBottom">location_city</i>&nbsp;<span class="bigPositionHeader">Wheaton College</span></td>
                        <td style="width:600px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">Wheaton, IL</span></td>
                    </tr>
                </table>
                <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>Sports Promotional Team - Student Engagement Supervisor</h2>
                <ul>
                    <li class="bullet11">
                      Promoted to supervising role after demonstrating consistent success in generating larger student audiences (700 students) at NCAA Division III sporting events at Wheaton College.
                    </li>
                    <li class="bullet11">
                      Led a small team in brainstorming promotional activities for the campus, making recommendations to the Director for approval, and effectively systematizing the most successful events.
                    </li>
                    <li class="bullet11">
                      Delegated roles and responsibilities, balancing preference, availability, and talents to maximize team member satisfaction and produce quality events for the College.
                    </li>
                    <li class="bullet11">
                      Successfully boosted Men’s Basketball performance according to the Head coach who repeatedly encouraged administration for growing the promotions team and personally met with the promotions team to offer any services needed to further its success.
                    </li>
                    <li class="bullet11">
                      Successfully fundraised over $1,000 for Major Hurricane Harvey and Irma through the coordination of events, merchandise sale, and donation collections at campus sporting events.
                    </li>
                    <li class="bullet11">
                      Selected as a member in the inaugural year, leveraging an understanding of campus culture and resources to maximize student body engagement at athletic events.
                    </li>
                </ul>
            </mat-card>

            <mat-card class="shadowCard">
                <table>
                    <tr>
                        <td style="width:300px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">11/2017 - 2/2018</span></td>
                        <td style="width:600px;"><i class="material-icons md-18 iconNearBottom">location_city</i>&nbsp;<span class="bigPositionHeader">The Morton Arboretum</span></td>
                        <td style="width:600px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">Lisle, IL</span></td>
                    </tr>
                </table>
                <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>Marketing Assistant</h2>
                <ul>
                    <li class="bullet11">
                      Assisted the Marketing Department with engaging the public during the Morton Arboretum’s Illumination campaign to enhance their experience and gather customer feedback.
                    </li>
                    <li class="bullet11">
                      Gathered surveys and analyzed data representing customer satisfaction in order to support future strategies to further customer retention.
                    </li>
                </ul>
            </mat-card>

          <mat-card class="shadowCard">
            <table>
              <tr>
                <td style="width:300px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">Summer 2017</span></td>
                <td style="width:600px;"><i class="material-icons md-18 iconNearBottom">location_city</i>&nbsp;<span class="bigPositionHeader">Wheaton College</span></td>
                <td style="width:600px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">Wheaton, IL</span></td>
              </tr>
            </table>
            <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>Conference Services Assistant</h2>
            <ul>
              <li class="bullet11">
                Tended to the needs of guests for both overnight and daily stay of those hosted by Wheaton Conference Services’ housing and facilities.
              </li>
              <li class="bullet11">
                Facilitated efficient check-in/out services and accommodations for approximately 8,500 guests.
              </li>
              <li class="bullet11">
                Collaborated with staff team to create a welcoming atmosphere for guests while resolving registration issues.
              </li>
            </ul>
          </mat-card>
        </mat-card>

        <mat-card class="shadowCard">
            <h1 class="h1Blue">Volunteer Leadership</h1>
            <mat-card class="shadowCard">
                <ul>
                    <li class="bullet11">
                      <b>Huddle Leader - August 2017 - Present - Fellowship of Christian Athletes, Wheaton, IL</b>
                      <ul>
                        <li class="bullet10">
                          Led a small group of high school student athletes in pursuing spiritual growth and community outreach.
                        </li>
                      </ul>
                    </li>
                    <li class="bullet11">
                      <b>Fundraiser - November 2016 - Self-created Project for Wheaton College, Wheaton, IL</b>
                      <ul>
                        <li class="bullet10">
                          Coat Drive- Independently fundraised a coat drive within the local community for Chicago’s homeless.
                        </li>
                      </ul>
                    </li>
                </ul>
            </mat-card>
        </mat-card>

    </div>
    <!-- use App-buttons or App-buttons-mobile here to make dialog reactive was "app-action buttonPositionTop"-->
    <span class="app-action buttonPositionTop" [class.m2app-dark]="isDarkTheme">
        <button mat-fab style="background-color:#ffcc00;" (click)="openDialog()"><mat-icon class="material-icons md-18 iconWhite">mail outline</mat-icon></button>
    </span>
</mat-sidenav-container>
</div>
